.container {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__title {
  margin-top: 0.6em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.2em;
  letter-spacing: 0.2rem;
}

.header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__icons * {
  width: 30px;
  cursor: pointer; 
}

#linkedin-link,
#github-link {
  padding-left: 0.5em;
}

.chart {
  margin-top: 1.2em;
}

.sorted {
  fill: rgb(0, 162, 255);
}

.unsorted {
  fill: rgb(95, 95, 95);
}

.sorting {
  fill: rgb(255, 0, 0);
}

.sorted,
.unsorted,
.sorting {
  transition: 0.3s;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
}

.footer__reset,
.footer__input-size,
.algos__bubble_sort {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  padding: 0.25em 0.65em;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  cursor: pointer;
  background-color: whitesmoke;
  color: #464646;
}

.footer__input-size {
  width: 4.5em;
  text-align: center;
  padding: 3.5px;
}

.disabled {
  background-color: #464646;
  color: whitesmoke;
  cursor: not-allowed;
  transition: 0.2s;
}

.modal__bg {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.modal__bg-active {
  visibility: visible;
}

.modal {
  display: flex;
  background-color: white;
  height: fit-content;
  width: 50%;
  padding: 1em;
}

.modal__content {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  color: #464646;
}




